.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 50px;
  flex-basis: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 1px solid gray;
}