body {
  background: ivory;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


/***********************************
* GENERAL
************************************/
body {
  font-family: 'Poppins', sans-serif;
}

/***********************************
* TABLE
************************************/
.info-table {
  background-color: oldlace;
  margin: 1em auto;
  width: 70%;
  border-spacing: 0;
}

tr {
  boder-bottom: 2px solid grey;
}
td, th {
  border-bottom: 1px solid grey;
  padding: .5em;
}

th {
  font-size: 1.5em;
  background: moccasin;
}

tr:nth-child(even) {
  background: papayawhip;
}

tr:hover {
  background: blanchedalmond;
  color: steelblue;
}

.address {
  text-align: center;
}