<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add your food here!</h1>
    <form action="/bakedgoods" method="POST">
        <label for="name">Name of your food</label>
        <input type="text" name="name">
        <label for="price"> How much are you selling it for</label>
        <input type="text" name="price">
        <label for="imgurl">or put your image url here!</label>
        <input type="text" name="image">
        <input type="submit" value="ADD">
    </form> 
</body>
</html>