<<<<<<< HEAD
* { border: 1px solid gold}
.flex-container {
    display:flex;
    background-color: ghostwhite;
    width: 70%;
    margin: auto;
    flex-wrap:wrap;
    justify-content: space-evenly;
    overflow:auto;
}

.card {
    color:white;
    background-color: grey;
    padding: 10px;
    margin: 5px 5px;
    /* width: 10px; */
    flex-basis: 40px;
    text-align: center;
}
.selected {
    background-color: #fae569;
    color:#40A69A;
    flex-grow:2;
=======
/* * { border: 1px solid gold} */
.flex-container {
    display: flex;
    background-color:#e9ece5; 
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    overflow: auto;
    /* flex-direction: row;
    height: 400px; */
    justify-content: space-around; 
}

.card {
    color: white;
    background-color:  #b3c2bf;
    padding: .5em;
    margin: .3em .3em;
    flex-basis: 1em;
    text-align: center;
}

.selected {
    background-color: #fae596;
    color: #40A69A;
    flex-grow: 2;
>>>>>>> e41b9497b9468c3f47bbbcc439f9d898e2f77f97
    order: 0;
}