:root {
    --dark-buttons: rgb(90, 83, 83);
    --dark-background: rgb(37, 36, 36);
    --hightlight-buttons: rgb(187, 123, 38);
    --interface-font: rgb(53, 47, 47);
    --reset-Buttons: rgb(122, 29, 29);
    --buttons-font: rgb(233, 233, 233);
}

body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin: 0 auto;

}
div {
    border: 1px solid black;
}
.header {
    max-width: 60%;
    height: 100px;
    margin:50px auto;
}

.container {
    width: 400px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: stretch; */
}
/*TOP SCREEN*/
#screen {
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    background-color: var(--dark-buttons);
}
#screeninput {
    flex: 1 1 auto;
    height: 90px;
    padding:0;
    border: 1px solid black;
    margin:3px;
    background-color: var(--dark-buttons);
}
#logo {
    width: 50px;
    height: 50px;
    margin: 3px;
    padding: 0;
}
#interface {
    background-color: var(--dark-background);
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}
#number-column {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 auto; */
    display:grid;
    grid-template-areas: "a b c"
                         "d e f"
                         "g h i"
                         "j j j";
    grid-gap: 0.5em;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-around;
    margin:5px;
}

.number {
    background-color: var(--dark-buttons);
    width:60px;
    height:60px;
    align-content: center;
}
.number:nth-last-child(1) {
    grid-area: 4/ 1 / 4 / 4;
    width: 100%;
}
#operator-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-around;
    align-items: center;
}

.operator {
    background-color: var(--dark-buttons);
    width:60px;
    height:60px;
}

button {
    color: lightblue;
    border: none;
    text-decoration: none;
    box-shadow: 5px 5px 1px black;
    padding:0;
    border-radius: 50px;
    font-size: 18px;
}
.operator:last-child, .operator:nth-child(1){
    background-color: var(--hightlight-buttons);

}
.operator:nth-child(2) {
    background-color: var(--reset-Buttons);
}