body {
    background-color: darkolivegreen;
    margin: 10 auto;
    text-align: center;
    text-justify: center;
    font-family: 'Balsamiq Sans', cursive;
}
.container-header {
    border-radius: 1em;
    border: 3px solid black;
    font-family: 'Balsamiq Sans', cursive;
    background-color: goldenrod;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.container-element {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
}

.container-pokemon {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
h3 {
    flex: 0 1 auto;
    margin: 3px auto 10px auto;
}
.image {
    border-radius: 1em;
    border: 1px solid black;
    flex: 1 0 auto;
    box-shadow: 5px 5px black;
    margin: 5px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    border-bottom: 2px solid black;
}
