<meta charset="utf-8" />
<title>Budtr</title>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
/>
<link rel="stylesheet" href="/main.css" />