body {
  background: hsla(146, 62%, 95%, 1);
  text-justify: inherit;
}
div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 200px;
  float:left;
  border: 5px solid black;
  border-radius: 2em;
  box-shadow: 5px 5px 8px black;
}
.A {
  width: 100%;
  background-color: blueviolet;
}

.B {
  height: 600px;
  width: 60%;
  background-color: brown;
}
.C {
  height: 600px;
  width:38%;
  background-color: crimson;
}
h1 {
  font-size: 60px;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-flow: column nowrap;
  }
  div {
    height:100px;
    float: none;
  }
  .A {
    height: 15%;
  }
  .B {
    float: none;
    width: 100%;
    height: 70vh;
  }
  .C {
    height:15%;
    float: none;
    width: 100%;
  }
}



