<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container py-4">
            <%- include('./components/logsTable.ejs') %>
        </div>
    </body>
</html>