<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="container py-4">
            <%- include('./components/logsTable.ejs') %>
            <a
                href="/new"
                class="btn btn-primary"
            >
                Create Log
            </a>
        </div>
    </body>
</html>