<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="fname">Name</label>
        <input type="text" id="fname" name="name" placeholder="<%= fruit.name %>">

        <label for="lname">Color</label>
        <input type="text" id="color" name="color" placeholder="<%= fruit.color %>">

        <label for="readyToEat">Ready to Eat</label>
        <select id="readyToEat" name="readyToEat">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>

        <input type="submit" value="Submit">
    </form>

</body>

</html>