<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budtr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
    <div class="container">
      <h1>Add a new item</h1>
      <form class="" action="/budgets" method="POST">
        <input type="date" name="date" value="" placeholder="date" />
        <input type="text" name="name" value="" placeholder="name" />
        <input type="number" name="amount" value="" placeholder="amount"/>
        <input type="text" name="from" value="" placeholder="from" />
        <input type="submit" value="Create New Item">
      </form>
    </div>
  </body>
</html>
