<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/skeleton.css">
</head>
<body>
    <div class="container">
        <h1><%= selectedData.name%></h1>
        <button><a href="/budgets">BACK</a></button>
        <table>
        <%for (const property in selectedData) {%>
            <tr>
                <th><%=property%></th>
            </tr>
            <tr>
                <td><%=selectedData[property]%></td>
            </tr>
        <%}%>
        </table>
    </div>
    
</body>
</html>