<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        text-align: center;
    }
</style>
<body>
        <!-- <% let missionName = [] %>
        <% data.forEach(el => missionName.push(el.name)) %> -->
    <table style="width: 50%;">
    <tr>
        <th>MISSIONS</th>
        <th>LAUNCHDATE</th>
    </tr>
        
        <% for (let i = 0; i< data.length; i++) { %>
    <tr>
        <td><%= data[i].name %></td>
        <td><%= data[i].launchDate %> </td>
        <td><a href="/index/<%=i%>">click here to see info</a></td>
        <% } %>
    </tr>
    </table>
</body>
</html>