* {
    border: 1px solid red;
}
header {
    background-image: url(https://i.ibb.co/M9p6390/sailboat.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
    flex-direction: column;
    justify-content: center;
}

header h1, header p{
    color: ghostwhite;
    text-align: center;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
    font-weight: 500;
    margin: 0 auto;
}
header p {
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
nav {
    background-color: gray;
    padding: 20px;
}
ul {
    padding: 20px;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content:center;
}
nav a {
    padding: 20px;
    font-size: 20px;
	-webkit-flex: 0 auto 30px;
	flex: 0 auto 30px;
}