.head-container {
    width: 90%;
    margin: 0 auto;
}
.main-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

}
.list, .doneList {
    width: 50%;
}
tr{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-evenly;
}
th {
    width: 20%;
    flex-grow: 1 0 auto;
}
thead{
    display: flex;
    width: 800px;
}
tbody {
    display: flex;
    width: 800px;
    flex-flow: column nowrap;
}
label{
    width: 10%;
}