<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
<form action="/new" method="post">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title"><br>
    <button type="submit">submit</button>
</form>
</body>
</html>