/* VARIABLES */
:root {
  --bright-pink: #e74c83;
  --purple: #735066;
  --dusty-blue: #74c4cc;
  --bright-blue: #14bece;
}

/* GENERAL */
body {
  background: #ddd;
  font-family: helvetica;
}

/* CONTAINERS */
.container {
  width: 80vw;
  height: 70vw;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}
.sidebar {
  width: 50%;
  background-color: rgba(0,0,0,0.8);
/*   background: url('assets/images/neon.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.registration {
  width: 50%;
  background: #f9f9f9;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

/* ETC. DECORATION */
h1 {
  font-family: 'Oswald';
  font-weight: 500;
  color: var(--bright-pink);
  border-bottom: 2px solid var(--bright-blue);
}

/* FORMS */
form {
  height: 93%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 20px;
  margin: 20px 0;
}
#flex-grow {
  flex: 1 0 auto;
}
legend {
  padding: 0px 10px;
  font-family: 'Oswald';
  font-weight: 500;
  color: var(--purple);
}
label {
  font-family: 'Oswald';
  font-weight: 200;
  color: var(--bright-pink);
  display: block;
  margin: 5px auto;
  font-size: 2em;
}

input {
  height:50px;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: rgba(0,0,0,0.0);
  border: none;
  border-bottom: 1px solid black;
  font-family: 'Oswald';
  font-size: 1.3em;
  font-weight: 200;
}

input:focus {
  outline: none;
  border: none;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid black;
}
input[type="submit"] {
  height: 80px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 68, 255);
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 2em;
  color: white;
}

input[type="submit"]:hover {
  transition: 0.5s;
  height: 80px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(0, 37, 139);
  box-shadow: 5px 5px 5px rgb(29, 29, 29);
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(0,0,0,0.0);
  font-size: 1.5rem;
  
}

textarea:focus {
  outline: none;
  background-color: rgba(0,0,0,0.1);
}