<!-- views/partials/header.ejs -->
<div class="header-container mx-auto p-1">
    <div class="head-container mx-auto my-3 d-flex flex-row justify-content-center align-items-center ">
        <a href="/monster/new" class="btn btn-primary my-2">New monsters</a>
        <a href="/monster/" class="btn btn-primary my-2 mx-4">Home</a>
        <h1 class="mx-2 flex-grow-1">Enrich your living with these lovely monsters!</h1>
        <a href="#" class="btn btn-primary my-2">View Cart</a>
    </div>
</div>