<!-- views/partials/header.ejs -->
    <div class="head-container mx-auto d-flex flex-row justify-content-center align-items-center ">
        <a href="/monster/new" class="btn btn-primary my-2">New monsters</a>
        <h1 class="mx-3 flex-grow-1">Enrich your living with these lovely monsters!</h1>
        <a href="#" class="btn btn-primary my-2">View Cart</a>
    </div>